.bg-contain {
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  background-size: cover;
  height: 100vh;
  color: white;
  font-family: 'Bree Serif';
  display: flex;
  justify-content: center;
  align-items: center;
}
