.list-type {
  background-color: #0f172a;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.log {
  width: 100px;
}

.green {
  color: #18ed66;
}

.red {
  color: #e31a1a;
}
